// Font colors
$header_font_color: #292F36;
$text_font_color: #4D5053;
$button_font_color: #FFF;
$highlight_font_color: #CDA274;

// Background colors
$highlight_color: #F4F0EC;
$borders_color: #CDA274;